SERVER_PORT=8080
REPORTS_DB_HOST=localhost
REPORTS_DB_PORT=5432
REPORTS_DB_NAME=reports_db
REPORTS_DB_USER=reports_user
REPORTS_DB_PASSWORD=isis2503
REDIS_HOST=localhost
REDIS_PORT=6379
REPORTS_CACHE_TTL_MS=60000
